<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapadeDatos.Properties.Settings.Base_Datos_Hotel_APM_GrandConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Base_Datos_Hotel_APM_Grand;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapadeDatos.Properties.Settings.Base_Datos_Hotel_APM_GrandConnectionString1"
            connectionString="Data Source=LAPTOP-4K6RV9V2;Initial Catalog=Base_Datos_Hotel_APM_Grand;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapadeDatos.Properties.Settings.base_de_datos_2ConnectionString"
            connectionString="Data Source=DESKTOP-CF2J6U8;Initial Catalog=&quot;base de datos 2&quot;;Persist Security Info=True;User ID=sa;Password=1234;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>